.object-table{
    :global{
        .ant-table{
            .ant-table-cell{
                .row-action{
                    .ant-btn{
                        margin: 0 5px;
                    }
                }
            }
        }
        .ant-pagination{
            .ant-pagination-item-active{
                background-color: var(--color-button-primary);
                border-color: var(--color-button-primary);
                a{
                    color: var(--color-FFFFFF);
                }
            }
        }
    }
}