.power{
    padding: 30px;
    :global{
        .ant-radio-group{
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            .radio-item{
                margin-bottom: 20px;
            }
        }
        .ant-input{
            margin-bottom: 20px;
        }
        .btn-wrap{
            padding-top: 20px;
            text-align: right;
        }
    }
}