.ant-btn-primary{
    background: var(--color-button-primary);
    border-color:var(--color-button-primary);
    &:hover{
        background: var(--color-button-primary-hover);
        border-color:var(--color-button-primary-hover);
    }
    &:focus{
        background: var(--color-button-primary-hover);
        border-color:var(--color-button-primary-hover);
    }
}

.ant-menu{
   .ant-menu-item-selected{
        background-color: #023260 !important;
    } 
}

