:root {
  --color-FFFFFF: #FFFFFF;
  --color-000000:#000000;
  --color-title: #000000;
  --color-text: rgba(0,0,0,0.6);
  --color-000000-50: rgba(0,0,0,0.5);
  --color-000104-91:rgba(0,1,4,0.9);
  --color-435179-10:rgba(67,81,121,0.1);
  --color-CCD1E0:#CCD1E0;
  --color-E9E9E9:#e9e9e9;
  --color-001529:#001529;
  --color-0085F4-12:#0085f4;
  --color-004DE5-91:#004de5;
}


@media screen and (max-width: 1439px) {
  :root {
    --contentWidth: 90%;
  }
}

@media screen and (min-width: 1440px) {
  :root {
    --contentWidth: 1280px;
  }
}

@media screen and (min-width: 1920px) {
  :root {
    --contentWidth: 1600px;
  }
}
