.createBucket{
    // flex: 1;
    display: flex;
    padding: 15px;
    :global{
        .ant-form{
            flex:2;
            margin-right: 20px;
            .ant-form-item{
                text-align: left;
                .ant-input{
                    max-width: 400px;
                }
            }
        }
    }
    .right{
        flex:1;
        padding: 15px;
        background-color: #FBFAFA;
        .title{
            font-size: 20px;
            font-weight: bold;
            color: var(--color-title);
            text-align: left;
            margin-bottom: 10px;
        }
        .description{
            font-size: 14px;
            color: var(--color-text);
            text-align: left;
        }
    }
}