.objects{
    padding: 15px;
}
:global{
    .ant-modal-body{
        .modal-content{
            max-height: 300px;
            overflow-y: auto;
        }
        .preview-image{
            width: 200px;
        }
        .share-description{
            font-size: 14px;
            color: var(--color-text);
            margin-bottom: 10px;
        }
        .share-title{
            font-size: 18px;
            color: var(--color-title);
            font-weight: bold;
            margin-bottom: 10px;
        }
        .share-input{
            display: flex;
            align-items: center;
            margin-bottom: 20px;
            span{
                font-size: 14px;
                color: var(--color-text);
                margin-right: 8px;
            }
            .ant-input-number{
                width: 60px;
                margin-right: 20px;
            }
        }
        .share-subTitle{
            font-size: 14px;
            color: var(--color-text);
            margin-bottom: 8px;
        }
        .share-link{
            padding: 5px 10px;
            background-color: #fbfafa;
            border: 1px solid var(--color-E9E9E9);
            border-radius: 4px;
            position: relative;
            .text{
                width: 100%;
                overflow-x: auto;
                white-space: nowrap;
            }
            .copy{
                position: absolute;
                top:50%;
                right: 10px;
                transform: translateY(-50%);
                cursor: pointer;
                background-color: var(--color-FFFFFF);
                font-size: 20px;
            }
        }
    }
}