.layout {
    :global{
        .ant-layout{
            min-height: 100vh;
            display: flex;
            .ant-layout-sider{
                opacity: 1;
            }
            .logo{
                padding: 20px 10px;
                font-size: 24px;
                color: var(--color-FFFFFF);
                font-weight: bold;
                display: flex;
                justify-content: center;
                align-items: center;
                transition: all 1s;
                img{
                    width: 24px;
                    height: 24px;
                }
                span{
                    padding-left: 10px;
                }
                &.small{
                    span{
                        display: none;
                    }
                }
            }
            .layout-content{
                flex: 1;
                display: flex;
                flex-direction: column;
                .layout-header{
                    padding: 15px 30px;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    box-shadow: rgb(0 0 0 / 8%) 0 3px 10px;
                    .trigger{
                        font-size: 20px;
                        color: var(--color-title);
                        cursor: pointer;
                    }
                    .breadcrumb{
                        flex:1;
                        padding-left: 20px;
                        display: flex;
                        align-items: center;
                        .breadcrumb-item{
                            display: flex;
                            align-items: center;
                            .breadcrumb-item-name{
                                cursor: pointer;
                                font-size: 14px;
                                color: var(--color-000000-60);
                            }
                            .breadcrumb-item-to{
                                margin: 0 5px;
                            }
                        }
                    }
                    .user{
                        font-size: 20px;
                        color: var(--color-title);
                        cursor: pointer;
                        display: flex;
                        align-items: center;
                        span{
                            font-size: 14px;
                            padding-left: 10px;
                        }
                    }
                }
            }
        }
    }
}
