name: Go

on:
  push:
    branches:
      - main
      - develop
      - feat/ci
  pull_request:
    branches:
      - main
      - develop

jobs:

  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: Set up Go
        uses: actions/setup-go@v2
        with:
          go-version: 1.17

      - name: UDP Receive Buffer Size
        run: sudo sysctl -w net.core.rmem_max=2500000

      - name: Test
        run: go test -v ./...

#      - name: Build
#        run: make filedag-storage